/* =============
    Content
============= */
#content {
    margin: 40px 0;
    @include md {
        display: grid;
        grid-template-columns: auto 700px auto;
        margin: 90px 0;
    }
    @include lg{
        grid-template-columns: auto 920px auto;
    }
    @include xl{
        grid-template-columns: auto 1100px auto;
    }

    h1 {
        font-size: rem-calc(30);
        font-weight: 300;
        text-align: center;
        @include md {
            font-size: rem-calc(49);
        }
        @include lg {
            font-size: rem-calc(69);
        }
    }

    p {
        font-size: rem-calc(14);
        font-weight: 300;
        line-height: rem-calc(30);
        margin: 10px 20px 0;
        text-align: justify;
        @include md {
            font-size: rem-calc(22);
            line-height: rem-calc(50);
        }
        @include lg {
            font-size: rem-calc(31);
            line-height: rem-calc(70);
        }
    }
}
