/* =============
    Hero
============= */
#hero {
    background-image: url("../img/hero/hero.jpg");
    background-position: 25% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    @include md {
        height: 453px;
    }
    @include lg {
        background-position: 15% 15%;
        height: 607px;
    }
}
